<div class="container-fluid" id="SobreMi" >
    <mat-card class="info mat-elevation-z0" >
        <h2 class="text-center">Sobre mi
        </h2>
    </mat-card>
  <mat-card class="cartel abajo LL" id="carta1" >
    <div class="container fluid">
        <div class="row">
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus rerum modi omnis similique architecto, dolor culpa repudiandae in? Excepturi quibusdam magni cumque veniam praesentium, ullam esse vero nemo voluptatibus veritatis?<br>
                    
                 aca frase
                </p>
             </div>
        </div>
    </div>
    </mat-card>

    <br>
    <div class="container-fluid" >
    <mat-card class="info mat-elevation-z0" id="Informacion">
        <h2 class="text-center">Información Basica
        </h2>
    </mat-card>

    <div></div>

    <mat-card>
        <div class="container fluid">
            <div class="row">
                <div class="col-md-6">       
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <strong>Fecha de nacimiento :</strong>
                            </div>
                        <div class="col-sm-8">25-02-1986
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong>Email:</strong>
                            </div>
                            <div class="col-sm-8">jonatan932@gmail.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong>Celular:</strong>
                            </div>
                            <div class="col-sm-8">+54 9 (221)408 6 111</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong>Dirección:</strong>
                            </div>
                            <div class="col-sm-8">Marques de Aviles 198</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong>Idiomas:</strong>
                            </div>
                            <div class="col-sm-8">Ingles (Intermedio), guarani (basico)</div>
                        </div>
                     </div>
                </div>
            </div>
        
            </div>
       </div>
</mat-card>

<br>




            