<div class="container-fluid">
    <mat-card class="habilidades mat-elevation-z0" id="Experiencia">
    <h2 class="text-center ">Experiencia</h2>
  </mat-card>
    <mat-card>
      <div class="row">
        <div class="col-md-6 ">
                <b> Armmado y reparacion de pc</b>
                <div >
                <div class="progress" style="height: 12px;">
                  <div class="progress-bar progress-bar-striped  bg-black" role="progressbar" aria-label="Example 12px high" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
                <b> Electronica</b>
                <div >
                <div class="progress" style="height: 12px;">
                  <div class="progress-bar progress-bar-striped  bg-secondary" role="progressbar" aria-label="Example 12px high" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
                <b>Redes</b>
                <div>
                <div class="progress" style="height: 12px;">
                  <div class="progress-bar progress-bar-striped  bg-black" role="progressbar" aria-label="Example 12px high" style="width: 25%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
        </div>
    </div>
    
    </mat-card>
  </div>
  <br>